<footer>
    <div class="top">
        <fa-icon [icon]="faHamburger" class="icon"></fa-icon>
        <div>
            <span>facebook</span>
            <span>instagram</span>
            <span>whatsapp</span>
        </div>
    </div>
    <div class="medium">
        <span>4522-1661</span>
        <span>calle falsa 123, Springfield, example@example.com</span>
        <span>Open 09:00 am - 23:00 pm</span>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, ipsam?</span>
    </div>
    <div class="bottom">
        <p>Demo creada por Julián Aquino, 2022.</p>
    </div>
</footer>