<section>
    <div class="card">
      <img src="assets/products/product-1.png" alt="">
      <h2>burger name</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laboriosam, quasi necessitatibus alias itaque facilis.</p>
      <span class="price">$9.99</span>
      <button>comprar</button>
    </div>

    <div class="card">
      <img src="assets/products/product-2.png" alt="">
      <h2>burger name</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laboriosam, quasi necessitatibus alias itaque facilis.</p>
      <span class="price">$9.99</span>
      <button>comprar</button>
    </div>

    <div class="card">
      <img src="assets/products/product-3.png" alt="">
      <h2>burger name</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laboriosam, quasi necessitatibus alias itaque facilis.</p>
      <span class="price">$9.99</span>
      <button>comprar</button>
    </div>

    <div class="card">
      <img src="assets/products/product-4.png" alt="">
      <h2>burger name</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laboriosam, quasi necessitatibus alias itaque facilis.</p>
      <span class="price">$9.99</span>
      <button>comprar</button>
    </div>

    <div class="card">
      <img src="assets/products/product-5.png" alt="">
      <h2>burger name</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laboriosam, quasi necessitatibus alias itaque facilis.</p>
      <span class="price">$9.99</span>
      <button>comprar</button>
    </div>

    <div class="card">
      <img src="assets/products/product-6.png" alt="">
      <h2>burger name</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laboriosam, quasi necessitatibus alias itaque facilis.</p>
      <span class="price">$9.99</span>
      <button>comprar</button>
    </div>
</section>